<div class="row">
    <div class="col-6">
        <h2 [ngClass]="{'ower': isDisabled}">Angular Directives</h2>
        <h2 [ngStyle]="{'outline-style': isDisabled ? 'double' : 'dashed',
                        'border-style' : count ? 'solid' : 'dashed' }">Ng-Style Example</h2>
        <h2 style="outline-style: dotted;">Without Ng-Style</h2>
        <br>
        <button class="btn btn-primary" 
                [ngClass]="{'btn-lg': isDisabled}"
                (click)="onClick()" >Click Me!</button>
    </div>
    <div class="col-6" *ngIf="mentors">
        <h2>Mentors</h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let mentor of mentors">{{ mentor }}</li>
        </ul>
    </div>
</div>

