<div class="row d-flex justify-content-center">
    <!-- <h5 class="text-center">Mentor id: {{ mentor.id }}</h5> -->
    <h5 class="text-center">Mentor id: </h5>
    <div class="card" style="width: 10rem;">
      <img src="assets/images/403022_business man_male_user_avatar_profile_icon.png" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <!-- <h5 class="card-title">{{ mentor?.name }}</h5> -->
        <h5 class="card-title">any</h5>
      </div>
      <!-- <div class="button btn btn-primary" >Go Back</div> -->
  </div>
</div>

