<div class="row">
    <div class="col-6 pb-2" style="background-color: aqua;">
        <h2>Parent Side</h2>
        <br>
        <div class="list-group">
            <a class="list-group-item list-group-item-action"
            *ngFor="let mentor of mentors"
            (click)="onSelect(mentor)"
            >{{ mentor.name }} {{mentor.likeCount}}</a>
        </div>

    </div>
    <div class="col-6" style="background-color: rgb(20, 206, 119);">
        <h2 >Child Side</h2>
        <br>
        <app-child [selectedC]="selectedP"></app-child>
    </div>
    <button [disabled]="isDisabled"></button>
    <!-- HTML built in property -->
</div>
